!!! 5
%html
%head
%meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no"}
  %title Cookbook Crooks
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  %nav.navbar.navbar-default
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{ data: {toggle: 'collapse', target: '#navbar'}, aria: {expanded: 'false', controls: 'navbar'}}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'Cookbook Crooks', root_path, class: "navbar-brand"
      #navbar.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= link_to 'New Recipe', new_recipe_path
            %li= link_to 'Sign out', destroy_user_session_path, method: :delete
          - else
            %li= link_to 'Sign up', new_user_registration_path
            %li= link_to 'Sign in', new_user_session_path
  .container
    -flash.each do |name, msg|
      =content_tag :div, msg, class: 'alert'
    = yield

  %footer.footer
    .container
      %p.text-muted.text-center
        &copy;
        = link_to "Richard Macias", "http://richardmacias.me"
